@page "/component4"

<h1>This is Component 4 - combination</h1>
<br />

<h3 style="text-transform: uppercase; color: orangered">This is meeting's minute</h3>
<br />
<br />

<Component1 />
<br />
<br />

<Component2 />
<br />
<br />

<Component3 />

@code {

}
